/* CSS Reset  */
*{
    margin: 0;
    padding: 0;
}
 

/* CSS Variables  */

:root{
     --navbar-height: 59px;
}
    
/* Navigation Bar  */

    #navbar::before{
    content: "";
    background-color: black;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.5;
    }

#navbar{
    font-family: 'Baloo Bhaina 2', cursive;
/* border: 2px solid rgb(31, 17, 235); */
display: flex;
align-items: center;
position: absolute;
top: 0;
left: 0;
}

/* Navigation Bar: logo and image  */

#logo{
margin: 3px 5px;
padding: 4px 2px;
}

#logo img{
border-radius: 12px;
margin: 2px 10px;
height: 57px;
width: 57px;
}

/* Navigation bar: list styling  */

#navbar ul{
/* border: 2px solid rgb(202, 247, 3); */
/* background-color: rgb(214, 177, 231); */
display: flex;
list-style: none;
}

#navbar ul li{
display: flex;
font-size: 1.3rem;
}

#navbar ul li a{   
color: white;
/* border: 2px solid red; */
border-radius: 32px;
margin: 12px 10px;
padding: 12px 32px;
display: flex;
text-decoration: none;
}

#navbar ul li a:hover{
color: rgb(31, 20, 20);
/* border: 2px solid red; */
display: flex;
background-color: white;
}

/* Home section  */
#home{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border: 2px solid red; */
    /* margin: 0px 200px;  */
    padding: 3px 200px;
    height: 623px; 
}
#home::before{
    content: "";
    background:url('../img/bag4.jpg.jpg') no-repeat center center/cover;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 615px;
    width: 100%;
    z-index: -1;
    opacity: 0.81;
}

#home h1{
    font-family: 'Baloo Bhaina 2', serif;
    color: white;
    text-align: center;
}
#home p{
    font-family: 'Baloo Bhaina 2', serif;
    color: white;
    text-align: center;
    font-size: 1.5rem;
}

/* Services section  */

#services{
    display: flex;
    /* margin: 12px; */

    
}

#services .box{
    border: 2px solid red;
    padding: 14px;
    margin: 17px;
    margin-bottom: 34px;
    border-radius: 23px;
    background-color: rgb(241, 238, 238);

}

#services .box img{
    height: 170px;
    margin: auto;
    display: block;
    /* width: 100px; */
}
#services .box p{
    font-family: 'Baloo Bhaina 2', serif;
}

/* Clients-section  */

#client-section{
    height: 430px;
    /* margin: 23px 24px; */
}

#client-section::before{
    content: "";
    position: absolute;
    background: url('../img/bag1.jpg.jpg') no-repeat center center/cover;
    width: 100%;
    height: 400px;
    z-index: -1;
    opacity: 0.4;
}

#clients{
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding: 29px 45px;  */
}

.clients-item{
    padding: 34px;
}

#clients img{
    height: 150px;
}

/* Client Section  */

#contact{
    position:relative
}
#contact::before{
    content: "";
    position: absolute;
    background: url('../img/bag2.jpg.jpg') no-repeat center center/cover;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.67;
}
#contact-box{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 34px;

}
#contact-box input{
    width: 100%;
    font-family: 'Baloo Bhaina 2', serif;
    border-radius: 9px;
    font-size: 1.1rem;  
   
}
#contact-box textarea{
    width: 100%;
    /* padding: 0.5rem; */
    border-radius: 9px;
    font-size: 1.1rem;
}
#contact-box form{
    width: 40%;
}
#contact-box label{
    font-family:'Baloo Bhaina 2', serif;
    font-size: 1.4rem;
    
}

/* Footer section */
footer{
    font-family: 'Baloo Bhaina 2', serif;
    background-color: black;
    color: white;
    padding: 12px 23px;
}

/* Utility Classes */

.h-primary{
    font-size: 3.8rem;
    padding: 12px;
    font-family: 'Baloo Bhaina 2', serif;
}

.btn{
    padding: 6px 20px;
    border: 2px solid white;
    border-radius: 10px;
    background-color: rgb(156, 97, 97);
    color: white;
    margin: 15px;
    font-size: 1.5rem;
    cursor:pointer;
}

.h-secondary{
    font-family: 'Baloo Bhaina 2', serif;
    font-size: 2.3rem;
    padding:12px;
}

.center{
    text-align: center;
}

















